<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exportacao-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <h4 class="navbar-text navbar-left" style="color: #000; font-weight: bold;">Consulta aos Servidores Públicos, Empregados Públicos e Militares do Poder<br>Executivo do Estado da Bahia</h4>
    </div>
    <div id="exportacao-nav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#servidores">Voltar para Busca</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron servidor-exportacao">
  <p class="small text-justify">As informações disponíveis nesta consulta referem-se aos Servidores Públicos, Empregados Públicos e Militares, ativos, inativos e pensionistas do Poder Executivo do Estado da Bahia. Não estão incluídos na consulta dados de servidores dos poderes Judiciário e Legislativo. Estão excluídos, também, os descontos pessoais, as despesas com plano de saúde e os valores com pensão alimentícia. Os dados têm origem no Sistema de Recursos Humanos (RH Bahia), da Secretaria da Administração (SAEB).</p> 
  <p class="small text-justify">Em atendimento às normas gerais estabelecidas pela Lei Estadual n° 12.618/2012, a divulgação dos dados cadastrais e de remuneração dos Servidores Públicos, Empregados Públicos e Militares, ativos, inativos e pensionistas do Poder Executivo do Estado da Bahia no Portal da Transparência é efetuada com base nos arquivos enviados pela Superintendência de Recursos Humanos da SAEB. Os registros funcionais são efetuados pelos gestores de Coordenação de Recursos Humanos ou de unidades equivalentes de cada órgão/entidade. Assim, orientamos que, caso o Servidor, Empregado Público ou Militar identifique alguma inconsistência em sua ficha cadastral ou financeira, entre em contato com seu órgão/entidade de lotação ou de exercício, com o responsável pelo cadastro de informações de pessoal.<p>
  <p class="small text-justify">Em caso de dúvida, qualquer cidadão poderá entrar em contato com a ouvidoria da SAEB através do email saeb@ouvidoria.ba.gov.br ou pelo telefone (71) 3115-3226.<p>
  <p class="small text-justify">Esclarecemos, ainda, que a consulta é atualizada mensalmente - com referência à data de fechamento da folha de pagamento - sendo disponibilizada no último dia do mês subsequente a que se refere.</p>
  <p class="small text-justify">Para acesso aos dados, selecione o ano e o mês de referência abaixo:</p>

  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label for="ano" class="col-sm-1 control-label">Ano: </label>
      <div class="col-sm-2">
        <select class="form-control"
                ng-model="exportacaoCtrl.filtros.anoEscolhido"
                ng-options="ano for ano in exportacaoCtrl.anos | orderBy track by ano"
                ng-change="exportacaoCtrl.carregarMeses()"></select>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label for="mes" class="col-sm-1 control-label">Mês: </label>
      <div class="col-sm-2">
        <select class="form-control"
                ng-model="exportacaoCtrl.filtros.mesEscolhido"
                ng-options="mes as mes | mesExtenso for mes in exportacaoCtrl.meses | orderBy track by mes"></select>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <div class="g-recaptcha col-sm-offset-1 col-sm-11" data-sitekey="6LfLtb4UAAAAALNO5xIEcbCORfFTgsp5zdsw8kqK" id="recaptcha" ></div>
    </div>
    <div class="form-group form-group-sm">
      <div class="col-sm-offset-1 col-sm-11">
        <button type="button" class="btn btn-primary btn-sm" ng-click="exportacaoCtrl.baixar(1)" ng-disabled="exportacaoCtrl.processando">Baixar</button>
      </div>
    </div>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </form>
</div>

