<nav class="navbar navbar-default navbar-page hidden-print">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#remuneracao-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <h4 class="navbar-text navbar-left" style="color: #000; font-weight: bold;">Remuneração do Servidor</h4>
    </div>
    <div id="remuneracao-nav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right hidden-print">
        <li><a href="#servidores">Voltar para Busca</a></li>
        <li><a href="#servidores/{{remuCtrl.servidor.id}}">Dados Funcionais</a></li>
        <li><a href="" ng-click="remuCtrl.print();">Imprimir</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="servidor-remuneracao" id="printable">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Dados do Servidor</strong></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-5">
              <dl class="dl-horizontal">
                <dt>Nome: </dt>
                <dd>{{remuCtrl.servidor.nome}}</dd>
              </dl>
            </div>
            <!--div class="col-xs-3">
              <dl class="dl-horizontal">
                <dt>CPF: </dt>
                <dd>{{remuCtrl.servidor.cpf}}</dd>
              </dl>
            </div>
            <div class="col-xs-3">
              <dl class="dl-horizontal">
                <dt>Matrícula: </dt>
                <dd>{{remuCtrl.servidor.matricula}}</dd>
              </dl>
            </div-->
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Remuneração</strong>
          <select class="pull-right form-control mes-referencia"
                  ng-model="remuCtrl.remuneracaoEscolhida"
                  ng-options="remuneracao as remuneracao | referenciaLabel for remuneracao in remuCtrl.servidor.remuneracoes track by remuneracao.id"></select>
          <strong class="pull-right">Mês Referência: &nbsp;&nbsp;</strong>
        </div>
        <div class="panel-body panel-remuneracao">
          <h5>Remuneração Bruta
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
              tooltips=""
              tooltip-title="Remuneração Bruta é composta pela soma de todas as parcelas remuneratórias fixas pagas ao servidor – correspondentes ao cargo efetivo, função, cargo em comissão, posto, graduação ou emprego público – e das eventuais diferenças de rubricas de tais parcelas não pagas anteriormente ao servidor ou empregado público."
              tooltip-side="right"></span>
          </h5>
          <dl class="dl-horizontal">
            <dt>Remuneração Bruta</dt>
           <dd ng-class="remuCtrl.remuneracaoEscolhida.bruto < 0 ? 'valorNegativo' : 'valorPositivo'">
              {{remuCtrl.remuneracaoEscolhida.bruto | decimal}}
          </dd>
            <dt style="color: red;" ng-hide="remuCtrl.remuneracaoEscolhida.estornoTeto == null || remuCtrl.remuneracaoEscolhida.estornoTeto == 0">Estorno Teto (-)</dt>
            <dd style="color: red;" ng-hide="remuCtrl.remuneracaoEscolhida.estornoTeto == null || remuCtrl.remuneracaoEscolhida.estornoTeto == 0">{{remuCtrl.remuneracaoEscolhida.estornoTeto | decimal}}</dd>
          </dl>

          <h5>Remuneração Temporária
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
              tooltips=""
              tooltip-title="Composta por parcelas variáveis que não integram a remuneração fixa – tais como 13º salário, férias, gratificações variáveis, decisões judiciais, dentre outras – e inclusive das eventuais diferenças de rubricas concernentes à Remuneração Temporária (RT) não pagas anteriormente ao servidor ou empregado público."
              tooltip-side="right"></span>
          </h5>
          <dl class="dl-horizontal">
            <dt>Férias</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.ferias < 0 ? 'valorNegativo' : 'valorPositivo'">
            {{remuCtrl.remuneracaoEscolhida.ferias | decimal}}
            </dd>
            <dt>13º Salário</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.gratificacaoNatalina < 0 ? 'valorNegativo' : 'valorPositivo'">{{remuCtrl.remuneracaoEscolhida.gratificacaoNatalina | decimal}}</dd>
            <dt>Parcelas Remuneratórias Eventuais</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.eventuais < 0 ? 'valorNegativo' : 'valorPositivo'">
              {{remuCtrl.remuneracaoEscolhida.eventuais | decimal}}
            </dd>
          </dl>

          <h5>Descontos Legais ( - )
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
              tooltips=""
              tooltip-title="Referem-se às deduções previstas nas legislações vigentes, tais como Imposto de Renda Retido na Fonte (IRRF), FUNPREV,BAPREV, INSS, SPSM, indenização ao erário, adiantamento do 13º salário, adiantamento de férias e demais deduções, excluídos os descontos pessoais, a exemplo de despesas com plano de saúde, pensão alimentícia, dentre outras."
              tooltip-side="right"></span>
          </h5>
          <dl class="dl-horizontal">
            <dt>IRRF (Imposto de Renda Retido na Fonte)</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.irrf < 0 ? 'valorNegativo' : 'valorPositivo'">
              {{remuCtrl.remuneracaoEscolhida.irrf | decimal}}
            </dd>
            <dt>FUNPREV/BAPREV/INSS (Previdência Oficial)</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.pss < 0 ? 'valorNegativo' : 'valorPositivo'">
              {{remuCtrl.remuneracaoEscolhida.pss | decimal}}
            </dd>
            <dt ng-hide="remuCtrl.remuneracaoEscolhida.adiantamentoFerias == null || remuCtrl.remuneracaoEscolhida.adiantamentoFerias == 0">Adiantamento Férias </dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.adiantamentoFerias < 0 ? 'valorNegativo' : 'valorPositivo'" ng-hide="remuCtrl.remuneracaoEscolhida.adiantamentoFerias == null || remuCtrl.remuneracaoEscolhida.adiantamentoFerias == 0">{{remuCtrl.remuneracaoEscolhida.adiantamentoFerias | decimal}}</dd>
            <dt ng-hide="remuCtrl.remuneracaoEscolhida.adiantamentoGratificacaoNatalina == null || remuCtrl.remuneracaoEscolhida.adiantamentoGratificacaoNatalina == 0">Adiantamento 13º Salário</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.adiantamentoGratificacaoNatalina < 0 ? 'valorNegativo' : 'valorPositivo'" ng-hide="remuCtrl.remuneracaoEscolhida.adiantamentoGratificacaoNatalina == null || remuCtrl.remuneracaoEscolhida.adiantamentoGratificacaoNatalina == 0">{{remuCtrl.remuneracaoEscolhida.adiantamentoGratificacaoNatalina | decimal}}</dd>
            <dt ng-hide="remuCtrl.remuneracaoEscolhida.indenizacaoSefaz == null || remuCtrl.remuneracaoEscolhida.indenizacaoSefaz == 0">Indenização SEFAZ</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.indenizacaoSefaz < 0 ? 'valorNegativo' : 'valorPositivo'" ng-hide="remuCtrl.remuneracaoEscolhida.indenizacaoSefaz == null || remuCtrl.remuneracaoEscolhida.indenizacaoSefaz == 0">{{remuCtrl.remuneracaoEscolhida.indenizacaoSefaz | decimal}}</dd>
            <dt ng-hide="remuCtrl.remuneracaoEscolhida.demaisDescontos == null || remuCtrl.remuneracaoEscolhida.demaisDescontos == 0">Demais Deduções </dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.demaisDescontos < 0 ? 'valorNegativo' : 'valorPositivo'" ng-hide="remuCtrl.remuneracaoEscolhida.demaisDescontos == null || remuCtrl.remuneracaoEscolhida.demaisDescontos == 0">{{remuCtrl.remuneracaoEscolhida.demaisDescontos | decimal}}</dd>
            <dt ng-hide="remuCtrl.remuneracaoEscolhida.spsm == null || remuCtrl.remuneracaoEscolhida.spsm == 0">FPSM </dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.spsm < 0 ? 'valorNegativo' : 'valorPositivo'" ng-hide="remuCtrl.remuneracaoEscolhida.spsm == null || remuCtrl.remuneracaoEscolhida.spsm == 0">{{remuCtrl.remuneracaoEscolhida.spsm | decimal}}</dd>
          </dl>

          <h5>Remuneração Líquida
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                tooltips=""
                tooltip-title="Remuneração Líquida é a Remuneração Bruta , limitada ao Teto Constitucional, acrescida das parcelas variáveis que não integram a remuneração fixa – tais como 13º salário, férias, gratificações variáveis, decisões judiciais, dentre outras – e inclusive das eventuais diferenças de rubricas de tais parcelas não pagas anteriormente ao servidor ou empregado público; abatidos os Descontos Legais, desconsiderando-se eventuais descontos facultativos ou decorrentes de decisões judiciais ou, ainda, valores referentes a Parcelas Indenizatórias."
                tooltip-side="right"></span>
          </h5>
          <dl class="dl-horizontal">
            <dt>Valor Líquido</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.liquido < 0 ? 'valorNegativo' : 'valorPositivo'">
              {{remuCtrl.remuneracaoEscolhida.liquido | decimal}}
            </dd>
          </dl>

          <h5>Parcelas Indenizatórias
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
              tooltips=""
              tooltip-title="Verbas Indenizatórias são compostas por vantagens que não estão incluídas na Remuneração Líquida e não se incorporam à remuneração, para qualquer efeito, a exemplo de auxílio alimentação, auxílio transporte e outros."
              tooltip-side="right"></span>
          </h5>
          <dl class="dl-horizontal">
            <dt>Valores Indenizatórios</dt>
            <dd ng-class="remuCtrl.remuneracaoEscolhida.verbasIndenizatorias < 0 ? 'valorNegativo' : 'valorPositivo'">
              {{remuCtrl.remuneracaoEscolhida.verbasIndenizatorias | decimal}}
            </dd>
          </dl>
        </div>
      </div>
      <div class="rodapeRemuneracao" >
        <p>Observações:</p>
        <p>1. Valores apresentados em Reais (R$).</p>
        <p>2. Valores na cor PRETA correspondem a CRÉDITOS e valores na cor VERMELHA correspondem a DESCONTOS efetuados.</p>
        <p>3. Os Descontos Legais agregam descontos que incluem IRRF (LEI FEDERAL N. 7.713, de 22/12/1988, INSS (LEI FEDERAL N. 8.212, DE 24/07/1991, FUNPREV (LEI ESTADUAL N. 7.249, DE 07/01/1998), BAPREV (LEI ESTADUAL N. 10.955, DE 21/12/2007) e FPSM (LEI ESTADUAL N. 14.265, DE 22/05/2020).</p>
        <p>4. Posicione o ponteiro do mouse sobre o ícone <span class="glyphicon glyphicon-question-sign" aria-hidden="true" tooltips="" tooltip-side="right"></span> para descrição da composição de cada parcela apresentada acima.</p>
        </p>  
      </div>
    </div>
  </div>
</div>

